@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-deep: #050505;
  --text-primary: #f3f4f6;
  --accent: #818cf8;
}

* {
  scroll-behavior: smooth;
}

body {
  background: var(--bg-deep);
  color: var(--text-primary);
  overflow-x: hidden;
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: var(--bg-deep);
}
::-webkit-scrollbar-thumb {
  background: #27272a;
  border-radius: 8px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--accent);
}
